<table class="table table-striped table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Temp</th>
            <th>Wifi Signal</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {{#each feed}}
        <tr>
            <th scope="row">{{_id}}</th>
            <td>{{temp}}</td>
            <td>{{wifi}}</td>
            <td>{{created_at}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<canvas id="tempChart" width="400" height="400"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js" integrity="sha256-OHkZxrR7EXZQ8MlUC+Ww2+RedaJSP6DEsAukSt023dU="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

<script>
    var chartData;
    var chartX = [];
    var chartY = [];
    $.get('/api/feed', function (data) {
        for (i = 0; i < data.length; i++) {
            var item = data[i];
            chartX.push(item.temp);
        }
        console.log(chartX)
    });
    var ctx = document.getElementById("tempChart");
    var tempChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                data: chartX,
                label: 'Temp (F)'
            }]
        },
        options: {
        }
    });

</script>